<div class="mx-auto md:w-2/3 w-full">
  <% if flash[:alert] %>
      <div class="flex w-md rounded-md bg-red-400 p-4 mx-auto mb-4">
          <svg class="fill-white size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
          </svg>
          <span class="ml-2 text-white"><%= flash[:alert] %></span>
      </div>
  <% end %>

  <% if flash[:notice] %>
      <div class="flex w-md rounded-md bg-emerald-500 p-4 mx-auto mb-4">
          <svg class="fill-white size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
          </svg>
          <span class="ml-2 text-white"><%= flash[:notice] %></span>
      </div>
  <% end %>

  <div class="rounded-xl border-1 border-gray-400 p-4 w-md mx-auto">
    <h1 class="text-2xl font-medium">Sign in</h1>

    <%= form_with url: session_url, class: "contents" do |form| %>
      <div class="my-5">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
        <div class="inline">
          <%= form.submit "Sign in", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-indigo-500 hover:bg-indigo-600 text-white inline-block font-medium cursor-pointer" %>
        </div>

        <div class="mt-4 text-sm text-gray-500 sm:mt-0">
          <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline hover:no-underline" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
